openapi: 3.0.1
info:
  title: Horizon Cloud Service Next Gen
  termsOfService: http://www.omnissa.com
  contact:
    name: Omnissa
    url: http://www.omnissa.com
  license:
    name: License Info
    url: http://www.omnissa.com
servers:
  - url: https://cloud-sg.horizon.omnissa.com
tags:
  - name: Active Directories
    description: All operations related to creating, deleting, fetching and updating
      the Active Directory configurations that are used in Pools. These configurations
      are used for defining how pool VMs are to join a corporate AD domain
  - name: Activities
    description: Get Activities for Partners and Tenants
  - name: App Catalogs
    description: App Catalogs Controller
  - name: App Import
    description: The platform provisions two fileshares in the customer subscription
      for each Microsoft Azure pod onboarded, as follows - Staging is where application
      packages that need to be imported are staged and is also a location from which
      application packages can be delivered to end users.Delivery is used solely for
      delivering application packages to end users
  - name: AppPackages
    description: Each Package stores one or more Programs required for the Application
      to run. A single Package can be delivered to multiple computers and users.For
      the packaging process, you must select a computer as the packaging machine and
      then build the Package on the packaging machine where the programs you want to
      include in the Package are installed. You can provide additional Package metadata
      on the packaging machine such as name of the Packager and any additional notes
      about the Package.
  - name: AppVersions
    description: 'AppVersion is the particular version of software installed/captured
    in a given capture session. As part of the Cloud native capture only one AppVersion
    can be part of a Package. AppVersion was called in the past as "App Bundle" in
    the 3.x terminology. This is uniquely identified by a uuid which is generated
    during the capture session. With application package merge, it is possible to
    have the same AppVersion in multiple packages and also that single Package can
    have more than one AppVersion contained in it. Eg: "Microsoft Office 2013 sp1"
    can be the application version which can be captured under a virtual application
    named "Microsoft Office", and this version can reside on a package "Microsoft_Office_2013_SP1_Clean.vhd"'
  - name: ApplicationDefinition
    description: Operations related to Application Definitions. These provide representation
      of applications for an organization.
  - name: ApplicationInventory
    description: Operations related to Application Inventory. These provide representation
      of applications for an image.
  - name: Applications
    description: ' Application is the Virtual Application container which will be created
    by the administrator to store the different application packages captured or imported
    to be stored under. This will act as a grouping for different versions of the
    same software, so that the administrator can mark one of the application versions
    using a marker and that can be used in an assignment. Eg: "Microsoft Office" will
    be created as an application which is the virtual application container which
    will contain "Microsoft Office 2013 sp1" as an application version under it, "Microsoft_Office_2013_SP1_Clean.vhd"
    can be the application package containing the particular application version'
  - name: Azure Infrastructure
    description: Access to Azure infrastructure resources, using 'Azure' provider instances.
  - name: Copies
    description: Operations related to image copies. These specify details like resource
      location that are needed to access an image in that provider region.
  - name: Edge Deployments
    description: Management of Edge deployments. Edge Gateways provide adjacent access
      to hypervisor or cloud assets.
  - name: Images
    description: Operations related to images. These provide representation of images
      specifying OS type, OS details, GPU/non-GPU and so on.
  - name: MachineController
    description: Helpdesk machine apis
  - name: Manual Applications
    description: Manual Applications Controller
  - name: Markers
    description: Operations related to markers. These provide representation of markers
      associated with images and versions.
  - name: Notifications
    description: Operations related to Notifications
  - name: On Demand Application Scan(ODAS)
    description: ODAS Controller
  - name: Pool Settings
    description: Management of pool settings for an org. Create, Delete, Patch and fetch
      org level pool settings
  - name: Pool Virtual Machines
    description: Provides some level of direct control over virtual machines inside
      pools.
  - name: Pools
    description: Management of pools. All operations related to creating, deleting and
      updating pool definition like spare policy, power policy, networks, images, etc.
  - name: Pools (Batch Operations)
    description: Batch management of pools such as Delete, Patch, and take Action.
  - name: Provider Instances
    description: Management of provider instances. These define where the customer resources
      are located, where desktops should be created, etc.
  - name: Providers
    description: Provides API to the known providers. There should be one for each provider
      we support. There is no API to edit or create providers; the supported providers
      are built-in.
  - name: SSO Configurations
    description: All operations related to creating, deleting, fetching and updating
      the SSO configurations that are used in edge deployments. These configurations
      are used for defining how SSO will deployed and configured at the edge gateway
  - name: Syslog Server
    description: Management of custom syslog servers. All operations related to creating,
      deleting, fetching and updating the custom syslog server configurations that are
      used in UAGs.
  - name: UAG Deployments
    description: Management of UAG deployments. UAGs provide secure, end-to-end connections
      from users to their virtual desktops, sessions or applications.
  - name: VM Skus
    description: Management of VM Sku models
  - name: Versions
    description: Operations related to image versions. These specify agent details installed
      on this version, applications installed on the image version and so on.
  - name: Versions v2
    description: Operations related to Image Versions. These are version 2 APIs that
      should support multiple provider types.
paths:
  /activity-manager/v1/activities:
    get:
      tags:
        - Activities
      summary: Get all activities. It returns list of audit and system activities.
      operationId: getAllActivities
      parameters:
        - name: Accept-Language
          in: header
          description: Accept-Language Header.
          schema:
            type: string
            default: en-US
        - name: end_date
          in: query
          description: Event End Date
          required: false
          schema:
            type: string
            format: date-time
          example: '2023-08-31T05:08:56.530+00:00'
        - name: org_id
          in: query
          description: Id of the CSP org
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          schema:
            type: number
            default: 0
        - name: search
          in: query
          description: Search Criteria. Please see model definition for list of searchable
            fields.
          required: false
          schema:
            type: string
          example: orgId $eq org-id-1
        - name: size
          in: query
          description: Size of each page.
          schema:
            type: number
            default: 10
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending.
          schema:
            type: string
        - name: start_date
          in: query
          description: Event Start Date
          required: false
          schema:
            type: string
            format: date-time
          example: '2023-08-30T05:08:56.530+00:00'
      responses:
        '200':
          description: Successfully fetched activities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageActivityResponseRepresentation'
        '401':
          description: "Unauthorized \u2013 The user is not authorized to access the\
            \ requested resource."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: "Forbidden \u2013 The user provided sufficient credentials,\
            \ but they are not allowed to access a resource regardless of the authorization\
            \ state"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error - Failed to fetch activity detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /activity-manager/v1/activities/{id}:
    get:
      tags:
        - Activities
      summary: Get system or audit activity by Id.
      operationId: getActivityById
      parameters:
        - name: Accept-Language
          in: header
          description: Accept-Language Header.
          schema:
            type: string
            default: en-US
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          schema:
            type: number
            default: 0
        - name: size
          in: query
          description: Size of each page.
          schema:
            type: number
            default: 10
      responses:
        '200':
          description: Successfully fetched activity detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityRequestRepresentation'
        '401':
          description: "Unauthorized \u2013 The user is not authorized to access the\
            \ requested resource."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: "Forbidden \u2013 The user provided sufficient credentials,\
            \ but they are not allowed to access a resource regardless of the authorization\
            \ state"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error - Failed to fetch activity detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/agent-monitoring/config/deem:
    get:
      tags:
        - Agent Monitoring
      summary: Get DEEM configuration for agent
      operationId: getAgentConfig
      parameters:
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully created/updated the agent configuration
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DEEMConfigTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Agent Monitoring
      summary: Delete DEEM configuration for agent
      operationId: deleteAgentConfig
      parameters:
        - name: categories
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
        - name: version
          in: query
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Successfully created/updated the agent configuration
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DEEMConfigTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/dem-settings:
    get:
      tags:
        - Dynamic Environment Manager Settings
      summary: Get all DEM Setting records
      description: 'Get all DEM Settings.Non-super users can only query for their
        own org IDs. This will return all records for which the caller has ''read''
        permission.

        Please refer to the DEMSettingTO Model for searchable fields.'
      operationId: getAll_9
      parameters:
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          schema:
            type: number
            default: 0
        - name: search
          in: query
          description: Search Criteria. Please see model definition for list of searchable
            fields.
          schema:
            type: string
          example: id $eq id-1
        - name: size
          in: query
          description: Size of each page.
          schema:
            type: number
            default: 10
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved DEM Setting records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageDEMSettingTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Dynamic Environment Manager Settings
      summary: Create a new DEM Setting record
      description: Creates a new DEM Setting record
      operationId: create_11
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DEMSettingCreateTO'
        required: true
      responses:
        '201':
          description: Successfully created DEM Setting record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DEMSettingTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/dem-settings/{id}:
    get:
      tags:
        - Dynamic Environment Manager Settings
      summary: Fetch DEM Setting by id
      description: Fetch one DEM Setting record
      operationId: getById_8
      parameters:
        - name: id
          in: path
          description: DEM Setting ID
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved DEM Setting record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DEMSettingTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: DEM Setting record not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Dynamic Environment Manager Settings
      summary: Update an existing DEM Setting record.
      description: Updates an existing DEM Setting record with new values.
      operationId: modifyById
      parameters:
        - name: id
          in: path
          description: DEM Setting ID
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DEMSettingTO'
        required: true
      responses:
        '202':
          description: Accepted the request to update existing DEM Setting record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DEMSettingTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: DEM setting cannot be updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Dynamic Environment Manager Settings
      summary: Delete a DEM Setting record
      description: Deletes a DEM Setting record from the database
      operationId: delete_10
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Successfully deleted DEM Setting record
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: DEM setting cannot be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/domain-certificates:
    get:
      tags:
        - Domain Certificates
      summary: Get all Domain Certificate records
      description: 'Get all Domain Certificate records.Non-super users can only query
        for their own org IDs. This will return all records for which the caller has
        ''read'' permission.

        Please refer to the DomainCertificateTO Model for searchable fields.'
      operationId: getAll_8
      parameters:
        - name: expanded
          in: query
          description: Fetch list of Active Directories using the Domain Certificate
          required: false
          schema:
            type: boolean
            default: false
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          schema:
            type: number
            default: 0
        - name: search
          in: query
          description: Search Criteria. Please see model definition for list of searchable
            fields.
          schema:
            type: string
          example: id $eq id-1
        - name: size
          in: query
          description: Size of each page.
          schema:
            type: number
            default: 10
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending
          schema:
            type: string
        - name: status
          in: query
          description: Expiration status of certificate. OK, WARNING, EXPIRED
          required: false
          schema:
            type: string
            enum:
              - OK
              - WARNING
              - ERROR
      responses:
        '200':
          description: Successfully retrieved Domain Certificate records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageDomainCertificateTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Domain Certificates
      summary: Save one or more domain certificates
      operationId: create_10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainCertificateCreateTO'
        required: true
      responses:
        '201':
          description: Successfully saved domain certificate(s).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCertificateBatchResponseTO'
        '207':
          description: Mixed results. Response contains at least one failed certificate
            save.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCertificateBatchResponseTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Domain Certificates
      summary: Delete one or more domain certificates
      operationId: delete_9
      parameters:
        - name: force
          in: query
          description: Force-delete the batch of Domain Certificates, ignoring any in-use
            errors.
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainCertificateDeleteTO'
        required: true
      responses:
        '200':
          description: Successfully deleted domain certificate(s).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCertificateBatchResponseTO'
        '207':
          description: Mixed results. Response contains at least one failed certificate
            delete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCertificateBatchResponseTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/domain-certificates/{id}:
    get:
      tags:
        - Domain Certificates
      summary: Fetch one Domain Certificate record
      description: Fetch one Domain Certificate record
      operationId: getById_7
      parameters:
        - name: id
          in: path
          description: Domain Certificate ID
          required: true
          schema:
            type: string
        - name: expanded
          in: query
          description: Fetch list of Active Directories using the Domain Certificate
          required: false
          schema:
            type: boolean
            default: false
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved Domain Certificate record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCertificateTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Domain Certificate record not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/pool-settings:
    get:
      tags:
        - Pool Settings
      summary: Get the pool settings record for the org
      description: Get the pool settings record for the orgNon-super users can only
        query for their own org IDs. This will return the record for which the caller
        has 'read' permission.
      operationId: getPoolSetting
      parameters:
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved the pool Setting records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoolSettingTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Pool Settings
      summary: Create a new pool Setting record
      description: Creates a new pool Setting record for the org if it dosent exist
      operationId: create_9
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PoolSettingCreateTO'
        required: true
      responses:
        '201':
          description: Successfully created pool Setting record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoolSettingTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/pool-settings/{id}:
    delete:
      tags:
        - Pool Settings
      summary: Delete a Pool Setting record
      description: Deletes a Pool Setting record from the database
      operationId: delete_8
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Successfully deleted Pool Setting record
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Pool setting cannot be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - Pool Settings
      summary: Patch the existing pool Setting record
      description: Patch the existing pool Setting record
      operationId: patchById_5
      parameters:
        - name: id
          in: path
          description: Pool settings ID
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PoolSettingPatchTO'
        required: true
      responses:
        '200':
          description: Successfully patched the pool Setting record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoolSettingTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/providers:
    get:
      tags:
        - Providers
      summary: Lists all supported providers.
      operationId: getAll_7
      responses:
        '200':
          description: List of supported providers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderReadTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/providers/aws/instances/{id}/compute-vm-skus:
    get:
      tags:
        - AWS Infrastructure
      operationId: getAwsVmComputeSkus
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          schema:
            type: number
            default: 0
        - name: search
          in: query
          description: Search Criteria. Please see model definition for list of searchable
            fields.
          schema:
            type: string
          example: id $eq id-1
        - name: size
          in: query
          description: Size of each page.
          schema:
            type: number
            default: 10
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned list of VM compute skus
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageInfrastructureResource'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Provider instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/providers/aws/instances/{id}/directories:
    get:
      tags:
        - AWS Infrastructure
      operationId: getDirectories
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          schema:
            type: number
            default: 0
        - name: size
          in: query
          description: Size of each page.
          schema:
            type: number
            default: 10
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending.
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned directories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageInfrastructureResource'
        '400':
          description: User validation errors on provided provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageInfrastructureResource'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Provider instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/providers/aws/instances/{id}/ec2-instances:
    get:
      tags:
        - AWS Infrastructure
      operationId: getEc2VmInstances
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          schema:
            type: number
            default: 0
        - name: platform_detail
          in: query
          description: Platform detail filter for EC2 Instances
          required: false
          schema:
            type: string
            default: Windows BYOL
        - name: size
          in: query
          description: Size of each page.
          schema:
            type: number
            default: 10
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending.
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned list of VMs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageInfrastructureResource'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Provider instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/providers/aws/instances/{id}/keys:
    get:
      tags:
        - AWS Infrastructure
      operationId: getKeys
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          schema:
            type: number
            default: 0
        - name: size
          in: query
          description: Size of each page.
          schema:
            type: number
            default: 10
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending.
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned keys from KMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageInfrastructureResource'
        '400':
          description: User validation errors on provided provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageInfrastructureResource'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Provider instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/providers/aws/instances/{id}/vpc:
    get:
      tags:
        - AWS Infrastructure
      operationId: getNetworks_2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          schema:
            type: number
            default: 0
        - name: size
          in: query
          description: Size of each page.
          schema:
            type: number
            default: 10
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending.
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned VPCs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageInfrastructureResource'
        '400':
          description: User validation errors on provided network.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageInfrastructureResource'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Provider instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/providers/aws/instances/{id}/vpc/subnets:
    get:
      tags:
        - AWS Infrastructure
      operationId: getSubnets
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          schema:
            type: number
            default: 0
        - name: size
          in: query
          description: Size of each page.
          schema:
            type: number
            default: 10
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending.
          schema:
            type: string
        - name: vpc_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned subnets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageInfrastructureResource'
        '400':
          description: User validation errors on provided subnet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageInfrastructureResource'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Provider instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/providers/aws/instances/{id}/workspaces:
    get:
      tags:
        - AWS Infrastructure
      operationId: getAwsWorkspaces
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
        - name: workspaceIds
          in: query
          description: Workspace ids
          required: true
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successfully returned requested aws workspaces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageInfrastructureResource'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Workspaces bundles not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/providers/aws/instances/{id}/workspaces/bundles:
    get:
      tags:
        - AWS Infrastructure
      operationId: getAwsWorkspaceBundles
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned aws workspaces bundles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageInfrastructureResource'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Workspaces bundles not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/providers/aws/instances/{id}/ws-images:
    get:
      tags:
        - AWS Infrastructure
      operationId: getWorkspaceImages
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          schema:
            type: number
            default: 0
        - name: size
          in: query
          description: Size of each page.
          schema:
            type: number
            default: 10
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending.
          schema:
            type: string
        - name: status
          in: query
          description: Images status
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned list of workspace images
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageInfrastructureResource'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Provider instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/providers/aws/regions:
    get:
      tags:
        - AWS Infrastructure
      operationId: getAwsRegions
      parameters:
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned aws regions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AwsRegionTO'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Regions not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/providers/aws/workspaces/compute-skus:
    get:
      tags:
        - AWS Infrastructure
      operationId: getAwsWorkspacesComputeSkus
      parameters:
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned aws workspaces compute skus
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  uniqueItems: true
                  type: array
                  items:
                    type: string
                    enum:
                      - VALUE
                      - STANDARD
                      - PERFORMANCE
                      - POWER
                      - GRAPHICS
                      - POWERPRO
                      - GRAPHICSPRO
                      - GRAPHICS_G4_DN
                      - GRAPHICSPRO_G4_DN
                      - UNKNOWN_TO_SDK_VERSION
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Workspaces compute skus not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/providers/compute-vm-skus/preferences:
    patch:
      tags:
        - VM Skus
      summary: Perform actions on Compute VM SKU preferences
      operationId: performBatchActionOnPreferences
      parameters:
        - name: action
          in: query
          description: 'Action to perform. One of: ''add_tags'', ''remove_tags'' or
          ''toggle_visibility'''
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchVmSkuPreferenceRequestTO'
        required: true
      responses:
        '200':
          description: Successfully performed action on Compute VM SKU's preference
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchVmSkuPreferenceResponseTO'
        '207':
          description: Successfully performed action on Compute VM SKU's preference
            with some errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchVmSkuPreferenceResponseTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/providers/compute-vm-skus/preferences/tags:
    get:
      tags:
        - VM Skus
      summary: Get all VM tags for an org
      operationId: getVmTags
      parameters:
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
        - name: provider_label
          in: query
          description: Provider label
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved VM tags for the org
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VmTagsTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/providers/{label}/ap/config/{orgId}:
    get:
      tags:
        - agent-pairing-controller
      summary: Get agent pairing configuration for org.
      operationId: getAgentPairingConfig
      parameters:
        - name: label
          in: path
          description: Provider label
          required: true
          schema:
            type: string
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully fetched agent pairing configuration for org
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/sso-configurations:
    get:
      tags:
        - SSO Configurations
      summary: Get all SSO configuration records
      description: Get all SSO configurations, with an optional search filter. Please
        see model definition for search allowed fields.Non-super users can only query
        for their own org IDs. This will return all records for which the caller has
        'read' permission
      operationId: getAll_6
      parameters:
        - name: expanded
          in: query
          required: false
          schema:
            type: boolean
        - name: org_id
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          schema:
            type: number
            default: 0
        - name: search
          in: query
          description: Search Criteria. Please see model definition for list of searchable
            fields.
          schema:
            type: string
          example: name $eq name-1
        - name: size
          in: query
          description: Size of each page.
          schema:
            type: number
            default: 10
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved SSO configuration records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageSsoConfigurationTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - SSO Configurations
      summary: Create a new SSO configuration record
      description: Creates a new SSO configuration record in the admin service, belonging
        to the specified org.
      operationId: create_8
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SsoConfigurationCreateTO'
        required: true
      responses:
        '201':
          description: Successfully created SSO configuration record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoConfiguration'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/sso-configurations/discovery-data:
    get:
      tags:
        - SSO Configurations
      summary: Fetches SSO discovery data for the edge and AD
      description: Fetch SSO discovery data for the edge and AD
      operationId: getDiscoveryData_1
      parameters:
        - name: ad_ids
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
        - name: edge_ids
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
        - name: skip_ads_in_use
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successfully retrieved SSO discovery data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoConfigurationDiscoveryTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/sso-configurations/{id}:
    get:
      tags:
        - SSO Configurations
      summary: Fetch one SSO configuration record
      description: Fetch one SSO configuration record
      operationId: getById_6
      parameters:
        - name: id
          in: path
          description: SSO configuration ID
          required: true
          schema:
            type: string
        - name: expanded
          in: query
          description: If true, results will include the CA bundles associated to the
            SSO configuration
          required: false
          allowEmptyValue: true
          schema:
            type: boolean
            default: false
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved SSO configuration record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoConfiguration'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: SSO config record not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - SSO Configurations
      summary: Delete an SSO configuration record
      description: Deletes an SSO configuration record from the database
      operationId: delete_7
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully deleted SSO configuration record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoConfigurationTO'
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoConfigurationTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - SSO config is in use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - SSO Configurations
      summary: Patch an existing SSO configuration record.
      description: Patches an existing SSO configuration record with new values.
      operationId: patchSsoConfig_1
      parameters:
        - name: id
          in: path
          description: SSO configuration ID
          required: true
          schema:
            type: string
        - name: force_new_ca_bundle
          in: query
          description: Force creation of a new CA bundle, even if caConfigDn is not
            changing.
          required: false
          schema:
            type: boolean
            default: false
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SsoConfigurationPatchTO'
      responses:
        '200':
          description: Successfully patch existing SSO configuration record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoConfiguration'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict -  concurrent updates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/sso-configurations/{id}/ca-bundle:
    get:
      tags:
        - SSO Configurations
      summary: Download the latest CA bundle associated to the SSO configuration
      operationId: getCaBundle_1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: bundle_version
          in: query
          description: Optional parameter to fetch a specific version bundle, instead
            of default latest bundle
          required: false
          schema:
            type: integer
            format: int32
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully download the CA bundle associated to SSO configuration
        '401':
          description: Unauthorized
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected internal server error
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/syslog-server:
    get:
      tags:
        - Syslog Server
      summary: Return a list of syslog server configurations.
      operationId: getAll_5
      parameters:
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          schema:
            type: number
            default: 0
        - name: search
          in: query
          description: Search Criteria. Please see model definition for list of searchable
            fields.
          schema:
            type: string
          example: id $eq id-1
        - name: size
          in: query
          description: Size of each page.
          schema:
            type: number
            default: 10
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending
          schema:
            type: string
      responses:
        '200':
          description: Successfully syslog server configurations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageSyslogServerConfigurationTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Syslog Server
      summary: Create a new syslog-server configuration record
      description: Creates a new syslog-server configuration record in the admin service,
        belonging to the specified org.
      operationId: create_7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyslogServerConfigurationCreateTO'
        required: true
      responses:
        '201':
          description: Successfully created syslog-server configuration record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyslogServerConfigurationTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v1/syslog-server/{id}:
    get:
      tags:
        - Syslog Server
      summary: Get a single syslog server configuration by ID.
      operationId: getById_5
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved syslog server configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyslogServerConfigurationTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '423':
          description: 'Provider disabled '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Syslog Server
      summary: Delete an existing syslog server configuration
      description: Delete an existing syslog server configuration
      operationId: delete_6
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully deleted syslog server configuration record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyslogServerConfigurationTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - Syslog Server
      summary: Patch an existing syslog server configuration record.
      description: Patches an existing syslog server configuration record with new
        values.
      operationId: patchById_4
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyslogServerConfigurationPatchTO'
      responses:
        '200':
          description: Successfully updated syslog server configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyslogServerConfigurationTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v2/active-directories:
    get:
      tags:
        - Active Directories
      summary: Get all Active Directory records
      description: 'Get all Active Directory configurations.Non-super users can only
        query for their own org IDs. This will return all records for which the caller
        has ''read'' permission.

        Please refer to the ActiveDirectoryTO Model for searchable fields.'
      operationId: getAll_4
      parameters:
        - name: expanded
          in: query
          description: If true, results will include additional data (e.g. join user
            name)
          required: false
          schema:
            type: boolean
            default: false
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          schema:
            type: number
            default: 0
        - name: search
          in: query
          description: Search Criteria. Please see model definition for list of searchable
            fields.
          schema:
            type: string
          example: id $eq id-1
        - name: size
          in: query
          description: Size of each page.
          schema:
            type: number
            default: 10
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved active directory records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageActiveDirectoryTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Active Directories
      summary: Create a new Active Directory record
      description: Creates a new Active Directory record in the admin service, belonging
        to the specified org. This does not create anything in AD itself.
      operationId: create_6
      parameters:
        - name: ignore_warnings
          in: query
          description: If true, errors classified as warnings will be ignored
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiveDirectoryCreateTO'
        required: true
      responses:
        '201':
          description: Successfully created active directory record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveDirectoryTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v2/active-directories/refresh-state:
    post:
      tags:
        - Active Directories
      summary: Refresh state of Active Directories
      description: Refresh state of Active Directories
      operationId: refreshState
      parameters:
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
        - name: search
          in: query
          description: Search expression for selection of active directories
          schema:
            type: string
      responses:
        '202':
          description: Accepted the request to refresh states of the active directories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveDirectoryBatchResponseTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v2/active-directories/{id}:
    get:
      tags:
        - Active Directories
      summary: Fetch one Active Directory record
      description: Fetch one Active Directory record
      operationId: getById_4
      parameters:
        - name: id
          in: path
          description: Active directory ID
          required: true
          schema:
            type: string
        - name: expanded
          in: query
          description: If true, results will include additional data (e.g. join user
            name)
          required: false
          allowEmptyValue: true
          schema:
            type: boolean
            default: false
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved active directory record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveDirectoryTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Active directory record not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Active Directories
      summary: Delete an Active Directory record
      description: Deletes an Active Directory record from the database
      operationId: delete_5
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully deleted active directory record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveDirectoryTO'
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveDirectoryTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - active directory is in use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - Active Directories
      summary: Patch an existing Active Directory record.
      description: Patches an existing Active Directory. Supports partial document
        update by updating only the fields which are non-null.
      operationId: patchById_3
      parameters:
        - name: id
          in: path
          description: Active directory ID
          required: true
          schema:
            type: string
        - name: ignore_warnings
          in: query
          description: If true, errors classified as warnings will be ignored
          required: false
          schema:
            type: boolean
            default: false
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiveDirectoryPatchTO'
        required: true
      responses:
        '200':
          description: Successfully updated existing active directory record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveDirectoryTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict -  concurrent updates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v2/active-directories/{id}/org-units:
    get:
      tags:
        - Active Directories
      summary: Search organizational units in Active Directory
      description: Search for organizational units (OUs) in the specified Active Directory
        using a search string
      operationId: searchOrgUnits
      parameters:
        - name: id
          in: path
          description: Active directory ID
          required: true
          schema:
            type: string
        - name: edge_deployment_id
          in: query
          description: Edge deployment ID
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: 'Maximum number of results to return (max: 50)'
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
        - name: search
          in: query
          description: Search String for org units (e.g. 'OU=sub', 'sub')
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved organizational units
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgUnitsSearchResponseTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resources not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Ad twin sync status conflict for fetching org units
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /admin/v2/edge-deployments:
    get:
      tags:
        - Edge Deployments
      summary: Get all Edge deployments
      operationId: getAllEdgeDeployments
      parameters:
        - name: include_reported_status
          in: query
          description: Status of Edge Deployment reported attributes
          required: false
          schema:
            type: boolean
        - name: org_id
          in: query
          description: 'Organization ID: non-super users can only access their own organization'
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          schema:
            type: number
            default: 0
        - name: search
          in: query
          description: Search Criteria. Please see model definition for list of searchable
            fields.
          schema:
            type: string
          example: id $eq id-1
        - name: size
          in: query
          description: Size of each page.
          schema:
            type: number
            default: 10
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved all edge deployments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageEdgeDeploymentTOV2'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Edge Deployments
      summary: 'Create a new Edge deployment: initiates the deployment process'
      operationId: create_5
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EdgeDeploymentCreateTOV2'
        required: true
      responses:
        '201':
          description: Successfully created Edge Deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeDeploymentTOV2'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected internal server error
          content:
            application/json:
              schema:
[...]
