openapi: 3.0.1
info:
  title: Horizon Cloud Service Next Gen
  termsOfService: http://www.omnissa.com
  contact:
    name: Omnissa
    url: http://www.omnissa.com
    email: info@omnissa.com
  license:
    name: License Info
    url: http://www.omnissa.com
servers:
  - url: https://cloud-sg.horizon.omnissa.com
tags:
  - name: Images
    description: Operations related to images. These provide representation of images
      specifying OS type, OS details, GPU/non-GPU and so on.
  - name: ApplicationDefinition
    description: Operations related to Application Definitions. These provide representation
      of applications for an organization.
  - name: ApplicationInventory
    description: Operations related to Application Inventory. These provide representation
      of applications for an image.
  - name: Copies
    description: Operations related to image copies. These specify details like resource
      location that are needed to access an image in that provider region.
  - name: Users
    description: Operations for users. These provide representation of application icons
      for end users.
  - name: Versions
    description: Operations related to image versions. These specify agent details installed
      on this version, applications installed on the image version and so on.
  - name: Markers
    description: Operations related to markers. These provide representation of markers
      associated with images and versions.
  - name: Versions v2
    description: Operations related to Image Versions. These are version 2 APIs that
      should support multiple provider types.
  - name: Providers
    description: Provides API to the known providers. There should be one for each provider
      we support. There is no API to edit or create providers; the supported providers
      are built-in.
  - name: Provider Instances
    description: Management of provider instances. These define where the customer resources
      are located, where desktops should be created, etc.
  - name: Azure Infrastructure
    description: Access to Azure infrastructure resources, using 'Azure' provider instances.
  - name: Edge Deployments
    description: Management of Edge deployments. Edge Gateways provide adjacent access
      to hypervisor or cloud assets.
  - name: UAG Deployments
    description: Management of UAG deployments. UAGs provide secure, end-to-end connections
      from users to their virtual desktops, sessions or applications.
  - name: Active Directories
    description: All operations related to creating, deleting, fetching and updating
      the Active Directory configurations that are used in Pools. These configurations
      are used for defining how pool VMs are to join a corporate AD domain
  - name: Pools
    description: Management of pools. All operations related to creating, deleting and
      updating pool definition like spare policy, power policy, networks, images, etc.
  - name: Pools (Batch Operations)
    description: Batch management of pools such as Delete, Patch, and take Action.
  - name: Pool Virtual Machines
    description: Provides some level of direct control over virtual machines inside
      pools.
  - name: SSO Configurations
    description: All operations related to creating, deleting, fetching and updating
      the SSO configurations that are used in edge deployments. These configurations
      are used for defining how SSO will deployed and configured at the edge gateway
  - name: VM Skus
    description: Management of VM Sku models
  - name: AppVersions
    description: 'AppVersion is the particular version of software installed/captured
    in a given capture session. As part of the Cloud native capture only one AppVersion
    can be part of a Package. AppVersion was called in the past as "App Bundle" in
    the 3.x terminology. This is uniquely identified by a uuid which is generated
    during the capture session. With application package merge, it is possible to
    have the same AppVersion in multiple packages and also that single Package can
    have more than one AppVersion contained in it. Eg: "Microsoft Office 2013 sp1"
    can be the application version which can be captured under a virtual application
    named "Microsoft Office", and this version can reside on a package "Microsoft_Office_2013_SP1_Clean.vhd"'
  - name: Organization
    description: Operations for all resources related to the organization related to
      application inventory
  - name: AppPackages
    description: Each Package stores one or more Programs required for the Application
      to run. A single Package can be delivered to multiple computers and users.For
      the packaging process, you must select a computer as the packaging machine and
      then build the Package on the packaging machine where the programs you want to
      include in the Package are installed. You can provide additional Package metadata
      on the packaging machine such as name of the Packager and any additional notes
      about the Package.
  - name: Applications
    description: ' Application is the Virtual Application container which will be created
    by the administrator to store the different application packages captured or imported
    to be stored under. This will act as a grouping for different versions of the
    same software, so that the administrator can mark one of the application versions
    using a marker and that can be used in an assignment. Eg: "Microsoft Office" will
    be created as an application which is the virtual application container which
    will contain "Microsoft Office 2013 sp1" as an application version under it, "Microsoft_Office_2013_SP1_Clean.vhd"
    can be the application package containing the particular application version'
  - name: App Import
    description: The platform provisions two fileshares in the customer subscription
      for each Microsoft Azure pod onboarded, as follows - Staging is where application
      packages that need to be imported are staged and is also a location from which
      application packages can be delivered to end users.Delivery is used solely for
      delivering application packages to end users
  - name: MachineController
    description: Helpdesk machine apis
  - name: Notifications
    description: Operations related to Notifications
paths:
  /imagemgmt/v2/images/{imageId}/versions/{versionId}/republish:
    post:
      tags:
        - Versions v2
      summary: Submit Image Version Republish request for Secondary vSphere Provider.
      description: Submit Image Version Republish request for Secondary vSphere Provider
        associated with a View Edge. This can be used to republish failed Image Copies
        and/or Expand the Image Version to new provider instances This operation occurs
        in background.
      operationId: republishVersion
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionRepublishV2CreateTO'
        required: true
      responses:
        '424':
          description: Failed Dependency for Republish
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to submit Image republish request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '202':
          description: Successfully accepted Image republish request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionRepublishV2TO'
  /imagemgmt/v2/app-def/queryByImageReference:
    post:
      tags:
        - ApplicationDefinition
      summary: Query for application definitions by Image Reference(streamId, versionId)
        grouped by application name and publisher
      operationId: queryByImageReferenceV2
      parameters:
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationDefinitionImageReferenceListRepresentation'
        required: true
      responses:
        '500':
          description: Failed to query app definitions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully queried app definitions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAppDefResultsTO'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/infrapreferences:
    get:
      tags:
        - InfraPreference
      summary: Get infra preferences
      description: Get infra preferences
      operationId: getInfraPreferences
      parameters:
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '404':
          description: Infra preferences are not found for the requested org
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully retrieved infra preferences
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InfraPreferenceResponseTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - InfraPreference
      summary: Create infra preferences
      description: Create infra preferences
      operationId: createInfraPreferences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InfraPreferencesCreateRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Successfully created infra preferences.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to create infra preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/images:
    get:
      tags:
        - Images
      summary: Get All Images.
      description: 'Get All Images based on request param and Searchable field.</br>Images
        can be searched based on name, os, multiSession, osType, sourceType, gpuType,
        sourceStreamId, sourceVersionId, status fields.<br>NOTE: If fields (os,os_type)
        are present in both request params and search criteria, request param would
        take precedence.'
      operationId: getStreams
      parameters:
        - name: org_id
          in: query
          required: false
          schema:
            type: string
        - name: os
          in: query
          required: false
          schema:
            type: string
        - name: os_type
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          example: 0
          content:
            '*/*':
              schema:
                type: integer
                format: int32
        - name: search
          in: query
          description: Search criteria to filter on search. Allowed fields - name, os,
            multiSession, osType, sourceType, projectIdgpuType, sourceStreamId, sourceVersionId,
            status
          required: false
          schema:
            $ref: '#/components/schemas/SearchablePredicateStreamTO'
        - name: size
          in: query
          description: Size of each page.
          example: 10
          content:
            '*/*':
              schema:
                type: integer
                format: int32
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending.
          schema:
            type: array
            items:
              type: String
      responses:
        '404':
          description: Streams are not found for the requested org
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request - unsupported provider type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully retrieved images
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageStreamTO'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Images
      summary: Submit create image catalog request.
      description: 'Submit create image catalog request. This operation will occur
        in background.<br/><br/>Supported Source types & actions values:<br/><br/>1.
        Source AZURE_MARKET_PLACE, action=import (default): Import VM from Azure marketplace.<br/><br/>2.
        Source AZURE_SIG, action=copy-existing-image: Copy published Image from Azure
        SIG. Ensure Azure RBAC Access is granted on source Image for target provider
        instance. In case source image is prepared by the Partner org using Image
        Management APIs, provide ''mspOrgId'' in assetDetails to copy source image
        metadata and application scan data. In case of externally prepared Image,
        make sure to provide appropriate attributes in assetDetails including ''isClientAccessLicenseApplicable''
        and ''multiSession'' apart from mandatory attributes.<br/><br/>3. Source AZURE_CUSTOM_VM,
        action=import-custom-vm: Import Custom VM (Customer created VM) from Azure.<br/><br/>4.
        Source VIEW_IMAGES, action=import: Import VM from vCenter.<br/><br/>Once Image
        status is IMPORT_COMPLETE, it can be customized and published.<br/><br/>Then,
        once Image status is AVAILABLE, it can be used to create templates.<br/><br/>Refer
        notes on request model for more details.'
      operationId: createImageCatalog
      parameters:
        - name: action
          in: query
          required: false
          schema:
            type: string
            default: import
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageCatalogRequest'
        required: true
      responses:
        '500':
          description: Failed to create Image catalog request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Successfully accepted create Image catalog request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageCatalogRepresentation'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/images/{imageId}/versions:
    get:
      tags:
        - Versions
      summary: Get versions by image id.
      operationId: getVersions
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          example: 0
          content:
            '*/*':
              schema:
                type: integer
                format: int32
        - name: search
          in: query
          description: Search Criteria to filter on search allowed fields - markerId,
            id, projectId, name, state, status, sourceVersionId, lastTriggeredAction
          required: false
          schema:
            $ref: '#/components/schemas/SearchablePredicateVersionSearchTO'
        - name: size
          in: query
          description: Size of each page.
          example: 10
          content:
            '*/*':
              schema:
                type: integer
                format: int32
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending.
          schema:
            type: array
            items:
              type: String
      responses:
        '400':
          description: Bad request - unsupported provider type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Versions are not found for requested imageId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully retrieved versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageVersionTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Versions
      summary: Submit request to add version to an existing image catalogue
      description: 'Submit request to add version to existing Image.<br><br>Currently
        this is allowed only for an Image having source type AZURE_SIG or AZURE_CUSTOM_VM.<br/><br/>1.
        Source AZURE_SIG : Copy published Image from Azure SIG and add it as MAJOR
        / MINOR version to the existing image. Ensure Azure RBAC Access is granted
        on source Image for target provider instance. In case source  image is prepared
        by the Partner org using Image Management APIs, provide ''mspOrgId'' in assetDetails
        to copy source image metadata and application scan data. In case of externally
        prepared Image, make sure to provide appropriate attributes in assetDetails
        including ''isClientAccessLicenseApplicable'' and ''multiSession'' apart from
        mandatory attributes. Refer notes on request model for more details. Once
        Image status is AVAILABLE, it can be used to create templates.<br/><br/>2.
        Source AZURE_CUSTOM_VM : Import Custom VM (Customer created VM) from Azure
        and add it as MAJOR / MINOR version to the existing image. Once Image status
        is IMPORT_COMPLETE, it can be customized and published as a new version. Refer
        notes on request model for more details.<br/><br/>This operation will occur
        in background.'
      operationId: addVersion
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionCreateTO'
        required: true
      responses:
        '404':
          description: Source Image or Version is not found for given imageId and
            versionId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to submit add version request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Successfully created a new version record.Provisioning of resources
            in provider will happen in background.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionCreateResponseTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/images/{imageId}/versions/{versionId}:
    get:
      tags:
        - Versions
      summary: Get version by image id and version id.
      operationId: getVersion
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '400':
          description: Bad request - unsupported provider type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully retrieved version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionTO'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Version is not found for given imageId and versionId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Images
      summary: Submit Image Version Publish request for Azure Provider.
      description: Submit Image Version Publish request for Azure Provider. This operation
        will occur in background.
      operationId: publishVersionV2
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
        - name: action
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionPublishCreateTO'
        required: true
      responses:
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '412':
          description: Precondition failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to submit Image publish request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Successfully accepted Image publish request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionPublishTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Versions
      summary: Submit delete version request by image id and version id.
      description: 'Submit delete version request by image id and version id. This
        operation will occur in background.<br /><br />Note: 1. This deletes the version
        and all assets associated with this version. If there is only one version
        associated with the image, this deletes the image as well.<br /><br />2. A
        version should be deleted only when all pools associated with it are deleted.<br
        /><br />3. If force delete option is used, resources are deleted from service
        records and provider.'
      operationId: deleteVersion
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
        - name: force
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '422':
          description: Deletion is not allowed - current version status is not allowed
            for deletion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request - unsupported provider type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Unable to find the image version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict Error while deleting version - Template in admin is
            using version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to delete Version from DB
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '202':
          description: Successfully accepted request to delete Version
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: No Content
    patch:
      tags:
        - Versions
      summary: Submit Version update request. Marker update may trigger marker movement
        and pool updates.
      description: Submit Version update request. Supports updating description and
        markers of Version. <br /><br /> Marker update will trigger pool updates if
        the request is accepted and moved existing marker to this version.<br /><br
        /> Pool updates happen asynchronously and can be tracked via marker status.
      operationId: patchVersion
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: Org Id of the Version to be updated.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionPatchTO'
        required: true
      responses:
        '202':
          description: Successfully accepted Version update request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionTO'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to validate or submit Version update request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/images/{imageId}/versions/{versionId}/validate:
    post:
      tags:
        - Versions
      summary: Submit Image validation request.
      description: Submit Image validation request. <br /><br /> Image version will
        be validated for use in Pool Template creation. It will be available for use
        only after validation is successful.
      operationId: validateVersion
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionValidationTO'
        required: true
      responses:
        '404':
          description: Image or version not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to submit validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request - Version Validation request is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Successfully submitted validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/images/{imageId}/versions/{versionId}/shrink:
    post:
      tags:
        - Versions
      summary: Submit shrink image version request.
      description: Submit shrink image version request. This operation will occur
        in background.
      operationId: shrinkImageVersion
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShrinkImageVersionRequest'
        required: true
      responses:
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '412':
          description: Precondition failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to submit Shrink Image version request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '202':
          description: Successfully accepted Shrink Image version request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/images/{imageId}/versions/{versionId}/republish:
    post:
      tags:
        - Versions
      summary: Submit Image Version Republish request for Azure Provider.
      description: Submit Image Version Republish request for Azure Provider. This
        can be used to republish failed Image Copies and/or Expand the Image Version
        to new provider instances. This operation occurs in background.
      operationId: republishVersion_1
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionRepublishCreateTO'
        required: true
      responses:
        '424':
          description: Failed Dependency for Republish
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to submit Image republish request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '202':
          description: Successfully accepted Image republish request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionPublishTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/images/{imageId}/versions/{versionId}/publish:
    post:
      tags:
        - Images
      summary: Submit Image Version Publish request for Secondary vSphere Provider.
      description: Submit image Version Publish request for Secondary vSphere Provider
        associated with a View Edge. This operation will occur in background.
      operationId: publishVersionV2_1
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionPublishV2CreateTO'
        required: true
      responses:
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '412':
          description: Precondition failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to submit Image publish request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Successfully accepted Image publish request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionPublishV2TO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/images/{imageId}/versions/{versionId}/clone:
    post:
      tags:
        - Versions
      summary: Submit version clone request.
      description: Submit request to clone existing version.<br/><br/>It can be cloned
        either as a new version in same image or as a new Image altogether.<br/><br/>Use
        ?action=clone-image to create new image and ?action=clone-version to create
        a new version.<br/><br/>This operation will occur in background.
      operationId: clone
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
        - name: action
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionCloneCreateTO'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Successfully created a cloned version record.Provisioning of
            resources in provider will happen in background.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionCreateResponseTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Version is not found for given imageId and versionId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to submit version clone request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/appinventory/images/{imageId}/versions/{versionId}:
    get:
      tags:
        - ApplicationInventory
      summary: Get application inventory by image id and version id.
      operationId: getAppInventoryByImageAndVersion
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '400':
          description: Bad Request - Unsupported Provider Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully retrieved Application Inventory Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInventoryRepresentation'
        '404':
          description: Resource Does Not Exist or Application scan is not requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Unauthorized/Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - ApplicationInventory
      summary: Start scan for application inventory by image id and version id.
      description: Start scan for applications on image. This is supported only for
        server and multi-session images.
      operationId: triggerAppScan
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
        - name: deleteTemplate
          in: query
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppInventoryRequest'
        required: true
      responses:
        '500':
          description: Failed to created Application Inventory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '201':
          description: Successfully accepted Application Inventory request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInventoryRepresentation'
        '424':
          description: Failed Dependency for App Scan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - ApplicationInventory
      summary: Delete all applications by image id and version id.
      operationId: deleteAppInventory
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
        - name: delete_template
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '400':
          description: Bad Request - Unsupported Provider Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested application inventory resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '202':
          description: Request to delete application inventory is accepted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/app-def/query:
    post:
      tags:
        - ApplicationDefinition
      summary: Query for application definitions.
      description: Intended to validate application definitions for a given org. Response
        excludes icon data.
      operationId: query
      parameters:
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationDefinitionQueryListRepresentation'
        required: true
      responses:
        '500':
          description: Failed to query app definitions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully queried app definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApplicationDefinitionResponseTO'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/app-def/queryByImageReference:
    post:
      tags:
        - ApplicationDefinition
      summary: Query for application definitions by Image Reference(streamId, versionId)
        grouped by application name and version
      operationId: queryByImageReference
      parameters:
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationDefinitionImageReferenceListRepresentation'
        required: true
      responses:
        '500':
          description: Failed to query app definitions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully queried app definitions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAppDefResultsTO'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/infrapreferences/{id}:
    get:
      tags:
        - InfraPreference
      summary: Get infra preference by ID.
      operationId: getInfraPreference
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request - invalid infra preference
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully retrieved infra preference
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfraPreferenceResponseTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Infra preference is not found for given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - InfraPreference
      summary: Update infra preference
      description: Update infra preference
      operationId: patchInfraPreference
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          description: Org Id
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InfraPreferenceResponseTO'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to update infra preference
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully updated infra preference
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfraPreferenceResponseTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/images/{imageId}:
    get:
      tags:
        - Images
      summary: Get an image by ID.
      operationId: getStream
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '400':
          description: Bad request - unsupported provider type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Image is not found for given imageId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully retrieved stream
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/images/{imageId}/versions/{versionId}/copies:
    get:
      tags:
        - Copies
      summary: Get all image copies by image id and version id.
      operationId: getCopies
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          example: 0
          content:
            '*/*':
              schema:
                type: integer
                format: int32
        - name: provider_instance_id
          in: query
          required: false
          schema:
            type: string
        - name: search
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/SearchablePredicateAssetTO'
        - name: size
          in: query
          description: Size of each page.
          example: 10
          content:
            '*/*':
              schema:
                type: integer
                format: int32
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending.
          schema:
            type: array
            items:
              type: string
      responses:
        '404':
          description: Copies are not found for versionId and imageId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request - unsupported provider type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully retrieved image copies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAssetTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/images/{imageId}/versions/{versionId}/copies/{copyId}:
    get:
      tags:
        - Copies
      summary: Get image copy by image id, version id and copy id.
      operationId: getCopy
      parameters:
        - name: copyId
          in: path
          required: true
          schema:
            type: string
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '400':
          description: Bad request - unsupported provider type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Image copy is not found for given copyId, versionId and imageId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully retrieved Image copy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/images/{imageId}/markers:
    get:
      tags:
        - Markers
      summary: Search markers for an Image.
      operationId: searchMarkersForStream
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: include_template_info
          in: query
          required: false
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          example: 0
          content:
            '*/*':
              schema:
                type: integer
                format: int32
        - name: pageable
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Pageable'
        - name: search
          in: query
          description: Search Criteria. Please see model definition for list of searchable
            fields.
          schema:
            type: string
          example: providerInstanceId $eq provider-instance-id-1
        - name: searchable
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SearchablePredicateMarkerTO'
        - name: size
          in: query
          description: Size of each page.
          example: 10
          content:
            '*/*':
              schema:
                type: integer
                format: int32
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending.
          schema:
            type: array
            items:
              type: String
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Image not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully retrieved markers for an image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageMarkerTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/images/{imageId}/markers/{markerId}:
    get:
      tags:
        - Markers
      summary: Get Marker by image id and marker id.
      operationId: getMarkerById
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: markerId
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Unable to find marker for given imageId and markerId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully retrieved marker
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarkerTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Markers
      summary: Delete marker by marker id and image id.
      operationId: deleteMarkerById
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: markerId
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '409':
          description: Conflict Error while deleting marker - Template in admin is
            using this marker.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to delete marker from DB
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '412':
          description: Deletion is not allowed - current status is not allowed for
            deletion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully deleted marker
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Unable to find marker for given imageId and markerId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: No Content
  /imagemgmt/v1/image-sources:
    get:
      tags:
        - Images
      summary: Get all image sources.
      operationId: getImageSources
      parameters:
        - name: org_id
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          example: 0
          content:
            '*/*':
              schema:
                type: integer
                format: int32
        - name: provider_instance_id
          in: query
          required: true
          schema:
            type: string
        - name: provider_type
          in: query
          required: true
          schema:
            type: string
            enum:
              - AZURE
              - AKKA
              - VSPHERE
              - ZEROCLOUD
              - GCP
              - AWS
              - VIEW
              - NUTANIX
        - name: size
          in: query
          description: Size of each page.
          example: 10
          content:
            '*/*':
              schema:
                type: integer
                format: int32
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending.
          schema:
            type: array
            items:
              type: string
        - name: source_stream
          in: query
          required: true
          schema:
            type: string
            enum:
              - IMPORTED_VMS
              - AZURE_MARKET_PLACE
              - AKKA_MARKET_PLACE
              - VSPHERE_CATALOG
              - NUTANIX_IMAGES
              - AZURE_SIG
              - AKKA_SIG
              - AZURE_CUSTOM_VM
              - AKKA_CUSTOM_VM
              - UPLOADED
              - AWS_AMIS
              - AWS_WORKSPACE_BUNDLES
              - AWS_EC2_INSTANCE
              - GCP_IMAGES
              - VIEW_IMAGES
              - AKKA_IMAGES
              - COPIED_FROM_VERSION
              - COPIED_FROM_AZURE_VERSION
              - COPIED_FROM_VIEW_IMAGE_VERSION
      responses:
        '200':
          description: Successfully retrieved image sources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageSupportedImageRepresentation'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to retrieve image sources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/image-copies:
    get:
      tags:
        - Copies
      summary: Get all image copies.
      operationId: getImageCopies
      parameters:
        - name: org_id
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          example: 0
          content:
            '*/*':
              schema:
                type: integer
                format: int32
        - name: search
          in: query
          description: Search Criteria. Please see model definition for list of searchable
            fields.
          schema:
            type: string
          example: providerInstanceId $eq provider-instance-id-1
        - name: searchable
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SearchablePredicateAssetTO'
        - name: size
          in: query
          description: Size of each page.
          example: 10
          content:
            '*/*':
              schema:
                type: integer
                format: int32
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending.
          schema:
            type: array
            items:
              type: String
      responses:
        '500':
          description: Failed to retrieve image copies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully retrieved image copies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAssetTO'
        '204':
          description: No markers exists for the criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAssetTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/custom-vms:
    get:
      tags:
        - Images
      summary: Get all custom virtual machines to use as an image source from a resource
        container in provider.
      operationId: getVMs
      parameters:
        - name: container_id
          in: query
          required: true
          schema:
            type: string
        - name: generation_type
          in: query
          required: false
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          example: 0
          content:
            '*/*':
              schema:
                type: integer
                format: int32
        - name: provider_instance_id
          in: query
          required: true
          schema:
            type: string
        - name: provider_type
          in: query
          required: true
          schema:
            type: string
            enum:
              - AZURE
              - AKKA
              - VSPHERE
              - ZEROCLOUD
              - GCP
              - AWS
              - VIEW
              - NUTANIX
        - name: security_type
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          description: Size of each page.
          example: 10
          content:
            '*/*':
              schema:
                type: integer
                format: int32
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending.
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successfully retrieved custom vm image sources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageVirtualMachineTO'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Failed to retrieve custom vm image sources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/appinventory/images/{imageId}/versions/{versionId}/apps:
    get:
      tags:
        - ApplicationInventory
      summary: Get all applications by image id and version id.
      operationId: fetchAppsByImageAndVersion
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
        - name: max_icon_height
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 64
        - name: max_icon_width
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 64
        - name: org_id
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          example: 0
          content:
            '*/*':
              schema:
                type: integer
                format: int32
        - name: size
          in: query
          description: Size of each page.
          example: 10
          content:
            '*/*':
              schema:
                type: integer
                format: int32
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending.
          schema:
            type: array
            items:
              type: string
      responses:
        '400':
          description: Bad Request - Unsupported Provider Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully retrieved list of applications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAppRepresentation'
        '403':
          description: Unauthorized/Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Application scan is not requested or not successfully completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Not Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /imagemgmt/v1/app-def:
    get:
      tags:
        - ApplicationDefinition
      summary: Get all application definitions.
      operationId: get
      parameters:
        - name: org_id
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number to retrieve.
          example: 0
          content:
            '*/*':
              schema:
                type: integer
                format: int32
        - name: size
          in: query
          description: Size of each page.
          example: 10
          content:
            '*/*':
              schema:
                type: integer
                format: int32
        - name: sort
          in: query
          description: Ascending/Descending. Format is property,{asc|desc} and default
            is ascending.
          schema:
            type: array
            items:
              type: string
      responses:
        '500':
          description: Failed to retrieve app definitions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully retrieved app definitions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageApplicationDefinitionResponseTO'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /portal/v4/pools/{id}:
    get:
      tags:
        - Pool
      summary: Get pool record by id with derived fields
      description: Get pool record by id with derived fields
      operationId: getPoolV4
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully retrieved the pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoolReadTO'
    put:
      tags:
        - Pool
      summary: Update an existing pool record.
      description: Update an existing pool record with new values. The new data must
        be complete and valid as if it were a new record. This V4 version should be
        used for on-demand app scan.
      operationId: updateV4Pool
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: disassociateAction
          in: query
          required: false
          schema:
            type: String
            enum:
              - FORCEFUL
              - GRACEFUL
        - name: delete
          in: query
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pool'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Pool updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - Pool
      summary: Update specific attributes on existing pool record
      description: Update an existing pool record by adding and/or removing users
        and/or user groups. This V4 version should be used for on-demand app scan.
      operationId: patchV4Pool
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
        - name: disassociateAction
          in: query
          required: false
          schema:
            type: String
            enum:
              - FORCEFUL
              - GRACEFUL
        - name: delete
          in: query
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPoolReq'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Pool patched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /portal/v3/entitlements/{id}:
    get:
      tags:
        - EntitlementsV2
      summary: Get entitlement record by id
      description: Get entitlement record by id
      operationId: getEntitlement_1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementV2'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - EntitlementsV2
      summary: Update an existing entitlement record.
      description: Update an existing entitlement record with new values. The new
        data must be complete and valid as if it were a new record
      operationId: updateV3Entitlement
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitlementV2'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Entitlement updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementV2'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - EntitlementsV2
      summary: Delete entitlement record by id
      description: Delete entitlement record by id
      operationId: deleteEntitlement_1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '204':
          description: No Content
    patch:
      tags:
        - EntitlementsV2
      summary: Update specific attributes on existing entitlement record
      description: Update an existing entitlement record by adding and/or removing
        users and/or user groups
      operationId: patchV3Entitlement
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchEntitlementV2Req'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Entitlement patched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementV2'
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /portal/v2/sites/{siteId}/edge/{edgeId}:
    put:
      tags:
        - Site
      summary: 'Create Site Edge Mapping '
      description: Creates a site edge mapping
      operationId: createSiteMapping
      parameters:
        - name: siteId
          in: path
          required: true
          schema:
            type: string
        - name: edgeId
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Edge'
    delete:
      tags:
        - Site
      summary: Delete Edge Mapping
      description: Delete a site edge mapping
      operationId: deleteEdgeMapping_1
      parameters:
        - name: siteId
          in: path
          required: true
          schema:
            type: string
        - name: edgeId
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: OK
  /portal/v2/pools/{id}:
    get:
      tags:
        - Pool
      summary: Get pool record by id
      description: Get pool record by id
      operationId: getPool
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Successfully retrieved the pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
    put:
      tags:
        - Pool
      summary: Update an existing pool record.
      description: Update an existing pool record with new values. The new data must
        be complete and valid as if it were a new record
      operationId: updatePool
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: disassociateAction
          in: query
          required: false
          schema:
            type: String
            enum:
              - FORCEFUL
              - GRACEFUL
        - name: delete
          in: query
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pool'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Pool updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Pool
      summary: Delete pool record by id
      description: Delete pool record by id
      operationId: deletePool
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: org_id
          in: query
          required: false
          schema:
            type: string
        - name: disassociateAction
          in: query
          required: false
          schema:
            type: String
            enum:
              - FORCEFUL
              - GRACEFUL
        - name: delete
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: Successfully deleted pool record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '202':
          description: Accepted the request for  graceful/forceful deletion of the
            pool and Response holds the pool with disable flag true.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
[...]
